<a href="https://colab.research.google.com/github/Marchelx/PengenalanPython/blob/main/Tugas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Variable**

Sesuai dengan namanya, variable adalah sesuatu yang dapat berubah. Variabel ini digunakan untuk merujuk menuju lokasi memori oleh program komputer.
Pada sebagian besar bahasa lain, Anda perlu menetapkan tipe data terhadap suatu variabel. Namun, hal itu tidak perlu dilakukan pada bahasa pemrograman python. Sebagai contoh, jika Anda menulis program dengan menggunakan bahasa C, maka sintaks yang harus anda tulis adalah int num = 39; Dengan Python Anda hanya cukup menuliskan num = 39.

**Integer**

Integer adalah angka numerik yang dapat berupa nilai positif, negatif, atau nol tanpa memiliki angka desimal

In [1]:
num = 39
print(num)
39
type(num)

39

int

**Float**

Float adalah angka numerik sama seperti integer , namun ada sedikit perbedaan, yaitu adanya angka desimal

In [2]:
num = 39.0
print(num)
39.0
type(num)

39.0

float

**String**

String adalah kumpulan beberapa karakter atau integer. String tersebut direpresentasikan dengan menggunakan tanda quotes (double atau single)

In [7]:
test = "Hallo semua"
print (test )
type(test )

Hallo semua

str

**Boolen**

Boolean adalah operator biner yang hanya memiliki dua nilai output yaitu True atau False.

In [8]:
anda_robot = False
print(anda_robot)
False
type(anda_robot)

False

bool

**Operator**

Operator adalah simbol aritmatika pada bahasa pemrograman Python atau bahasa lainnya, untuk melihat seluruh operator yang tersedia pada Python Anda dapat melihat table di bawah ini.

In [13]:
a=6
b=2
c=a+b
d=a-b
e=a*b
f=a/b
g=a**b

print(c)
print(d)
print(e)
print(f)
print(g)

8
4
12
3.0
36

**Operator** **pembanding**

In [15]:
a = 5
b = 2
c=a > b
d=a < b
e=a == b
f=a >= b
g=b <= a

print(c)
print(d)
print(e)
print(f)
print(g)

True
False
False
True
True

**Operator Logika**

In [18]:
a = 10
b = 2
a == 2 and b == 10
a == 10 or b == 10
not(a == 10)
not(a == 2)

True

**Conditional** **Statement**

Conditional statement digunakan untuk memeriksa suatu kondisi yang ditentukan sebelumnya apakah nilai nya True atau False.
Sering kali ketika kita sedang mengembangkan suatu aplikasi, ada hal di mana kita perlu memeriksa suatu kondisi tertentu lalu melakukan perintah yang berbeda tergantung pada hasil sebelumnya. Dalam skenario seperti itu conditional statement akan sangat berguna. if, elif dan else adalah pernyataan kondisional yang digunakan dalam bahasa pemrograman Python.
Dengan conditional statement, kita dapat membandingkan suatu variable dan memeriksanya apakah variable tersebut memiliki nilai atau merupakan suatu boolean, dan selanjutnya memeriksa apakah True atau False. Oleh karena itu, mari kita praktekan penggunaannya.
Kondisi pertama. Kita memiliki suatu integer dan tiga kondisi. Yang pertama adalah kondisi if untuk mengecek apakah nomor tersebut sama dengan 10. Yang kedua adalah kondisi elif. Disini kita akan memeriksa apakah nomor tersebut kurang dari 10. Yang terakhir adalah kondisi else. Kondisi ini akan tereksekusi jika kedua kondisi sebelumnya tidak memenuhi

**1** **Kondisi**

In [22]:
angka = 5
if angka == 10:
    print("angka adalah 10")
elif angka < 10:
    print("angka adalah kurang dari 10")
else:
    print("angka adalah lebih dari 10")

angka adalah kurang dari 10

**2** **kondisi**

In [23]:
anda_robot = False
if anda_robot:
    print ("Ya, saya robot")
else:
    print ("bukan, saya manusia")

bukan, saya manusia

**lebih** **dari** **2** **Kondisi**

In [26]:
a = 10
b = 5
c = 20

if a > b:
    if a > c:
        print("a adalah yang terbesar")
    else:
        print("c adalah yang terbesar")
else:
    if b > c:
        print("b adalah yang terbesar")
    else:
        print("c adalah yang terbesar")

c adalah yang terbesar

**For** **loops**

Metode lain yang berguna dalam bahasa pemrograman Python adalah iterator. Hal ini sangat membantu jika Anda ingin melakukan sesuatu beberapa kali.

In [27]:
print("Hai")
print("Hai")
print("Hai")

for i in range(3):
   print("Hai")

Hai
Hai
Hai
Hai
Hai
Hai

**While** **loops**
Dalam bahasa pemrograman Python, terdapat metode loop atau iterator yang lain, yaitu while loop. Kita pun dapat memberikan hasil yang sama seperti yang telah kita lakukan pada for loops dengan menggunakan while loops

In [1]:
a = 0
while a < 3:
  print("Angka", a)
  a += 1

Angka 0
Angka 1
Angka 2